.navbar {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.navbar ul li a:hover {
  color: rgb(126, 209, 2);
}
a {
  text-decoration: none;
  text-align: center;
  padding-bottom: 15px;
  color: black;
}
.highlight {
  color: rgb(126, 209, 2);
  border-bottom: 2.5px solid rgb(126, 209, 2);
}

.cover {
  width: 6%;
  height: 100%;
  background-color: rgb(37, 179, 113);
  text-align: center;
  color: rgb(235, 231, 231);
  border-radius: 15px 15px 0 0;
}
