.body {
  width: 100%;
  min-height: calc(100vh - 65px);
  background: #ececec;
  padding-bottom: 50px;
}

.body .name {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 50px;
  font-weight: 700;
}

.overlay::before {
  position: absolute;
  display: block;
  content: " ";
  top: 65px;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  background: rgba(119, 118, 118, 0.5);
}
